body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 30px;
    color: #2c2c2c;
}

h1 {
    text-align: center;
    color: #4b5fd7;
    margin-bottom: 40px;
}


.content {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;

    border: 1px solid #c7cffc;
    border-radius: 18px;
    padding: 30px;
    background-color: #f4f6ff;
}


.content h2 {
    display: none;
}


.content p {
    font-size: 12pt;
    line-height: 1.8;
    text-indent: 0.6in;
    margin-bottom: 25px;
}

.content ul {
    margin: 25px 0 30px 40px;
    padding-left: 20px;
}

.content li {
    font-size: 12pt;
    line-height: 1.7;
    margin-bottom: 10px;
}
